<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create book</title>
    <style>
        body{
            background-color: rgb(225, 248, 255);
        }
        h1{
            color: rgb(47, 47, 120);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        p{
            color: rgb(57, 7, 101);
            font-weight:bolder;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        #submit{
            padding: 5px 10px;
            font-size: 16px;
            background-color: #4CAF50;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: white;
        }
        #Back{
            padding: 5px 10px;
            font-size: 16px;
            background-color: #ffa200;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        a{
            color: white;
            text-decoration: none;
        }
        label{
            font-weight: bolder;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        }
    </style>
</head>
<body>
    <center>
    <h1>Create Book</h1>
    <form action="/create" method="post">
        <label for="title"> Title</label>
        <input type="text" id="title" name="title">
        <br><br>
        <label for="author">Author</label>
        <input type="text" id="author" name="author">
        <br><br>
        <input type="submit" value="create" id="submit">
        <button id="Back"><a href="/">Back to list</a></button>
    </form>
</center>
</body>
</html>